.venv/
Dissertation/datasets/berTweet/raw/financial_tweets.csv
Dissertation/datasets/berTweet/raw/tweets_labelled_09042020_16072020.csv
Dissertation/datasets/berTweet/raw/Twitter_Data.csv
Dissertation\datasets\berTweet\clean\Formatted_financial_tweets.csv
Dissertation\datasets\berTweet\clean\Formatted_tweets_labelled_09042020_16072020.csv
Dissertation\datasets\berTweet\clean\Formatted_Twitter_Data.csv
